Package: com.jordan.first
Name: First
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jordan
Author: Jordan
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
